:root {
    --container-width: 1220px;
    --container-padding: 10px;
    --middle-left: 204px;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

.container {
    max-width: var(--container-width);
    padding: 0 10px;
    margin: 0 auto;
}


.container-left {
    padding: 0 10px;
    padding-left: calc(((100% - var(--container-width)) / 2 + var(--container-padding) + var(--middle-left)));
    
}

.container-left-products {
    padding-left: calc(((100% - var(--container-width)) / 2 + var(--container-padding)));
}

a {
    color: inherit;
    text-decoration: none;
}

ul {
    list-style-type: none;
}

button {
    border: none;
    background-color: transparent;
    cursor: pointer;
}

body {
    font-family: "Inter", sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.4;
    color: #1b1b1b;
    /* font-family: "Playfair Display", serif; */
}

.header__inner {
    display: flex;
    justify-content: space-between;
    padding-top: 30px;
}

.logo {
    /* margin-right: 287px; */
}

.header__title {
    font-family: "Playfair Display", sans-serif;
    margin-left: auto;
    font-size: 14px;
    font-weight: 400;
}

.menu {
    margin-right: 186px;
    margin-left: 131px;
}

.menu__list {
    display: flex;
    flex-direction: column;
    gap: 10px;
    font-size: 12px;

}

.menu__item {
    font-weight: 400;
}

.menu__link {}

.user-nav {
    display: flex;
    gap: 20px;
}



.top {
    padding-top: 100px;
    margin-bottom: 100px;
}

.swiper {}

.swiper-wrapper {}

.swiper-slide {}

.top-slide {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top center;

}


.top-slide__inner {
    min-height: 700px;
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.top-slide__content {
    flex-basis: 183px;
    margin-top: -154px;
}

.top-slide__title {
    font-size: 70px;
    font-family: "Playfair Display", serif;
    text-transform: uppercase;
    font-weight: 400;
    margin-bottom: 56px;

}

.top-slide__subtitle {
    font-weight: 400;
    font-size: 24px;
    margin-bottom: 10px;
}


.top-slide__text {
    font-size: 14px;
    margin-bottom: 20px;
    font-weight: 400;
}

.top-slide__btn {
    margin-left: auto;

}

.button {
    background: rgba(217, 217, 217, 0);
    padding: 21px 55px;
    font-weight: 700;
    text-transform: uppercase;
    border: 1px solid #7449bb;
    color: #7449bb;
    display: inline-block;
    transition: all 0.8s;
}

.button:hover {
    color: #fff;
    background-color: #7449bb;

}

.swiper-button-prev:after,
.swiper-rtl .swiper-button-next:after,
.swiper-button-next:after,
.swiper-rtl .swiper-button-prev:after {
    content: none;
}

.top-slide__arrow {
    margin-top: 50px;
    display: flex;
    gap: 20px;
}

.top-slide__button-prev,
.top-slide__button-next {
    cursor: pointer;
}

.description__text {
    margin-left: 203px;

}

.about {
    padding-bottom: 155px;
}

.about__wrapper {
    padding-left: 204px;
}

.about__title {
    font-weight: 400;
    width: 184px;
    font-size: 32px;
    line-height: 1.32;
    text-transform: uppercase;
    font-family: "Playfair Display", sans-serif;
}

.about__inner {
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    gap: 223px;
}


.about__item {
    flex-basis: 387px;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

/* .about__item:nth-child(2) {
    margin-top: 108px;
} */

.about__item__text {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.2;
}

.about__item__text-bold {
    font-weight: 700;
}

.midle-slide {
    padding: 0 10px;
    padding-bottom: 100px;
    position: relative;
}

.swiper-midle__wrapper {
    /* margin-left: 204px; */
}

.midle-slide__title {
    margin-bottom: 20px;
    font-weight: 700;
    font-size: 14px;
    color: #000;
}

.midle-slide__arrow {
    margin-top: -96px;

}
.midle-slide__button-prev, .midle-slide__button-next {
    cursor: pointer;
}
.swiper-midle img {
    width: 100%;
}

.swiper-midle__wrapper .swiper-slide {
    max-width: 386px;
}

.midle-slide__btn {
    margin-top: 20px;
    padding: 21px 55px;
    /* width: 386px; */
    /* max-height: 60px; */
}

.swiper-button-disabled {
    opacity: 0.3;
}

.accordion {
    padding-top: 100px;
    margin-bottom: 223px;
}

.accordion__inner {
    padding-left: 203px;
}

.accordion__item {
    border-bottom: 1px solid #000;
    padding: 0px 101px 20px 0;
    position: relative;
}

.accordion__item::before {
    content: "";
    position: absolute;
    width: 16px;
    height: 51px;
    background-image: url('../images/icons/Arrow-down.svg');
    right: 85px;
    top: 50px;
}

.accordion__item:last-child::after {
    content: "";
    position: absolute;
    width: 65px;
    height: 120px;
    background-image: url('../images/accordion-img.jpg');
    bottom: -73px;
    left: 268px;
}

.accordion__trigger {
    display: flex;
    justify-content: space-between;
    cursor: pointer;
    padding-top: 50px;
}

.accordion__trigger--title {
    text-transform: uppercase;
    font-size: 24px;
    flex-basis: 300px;
    padding-bottom: 42px;
}

.accordion__trigger--text {
    flex-basis: 387px;
    margin-right: 104px;
    padding-bottom: 20px;
}

.accordion__content {
    padding-top: 20px;
    display: none;
}

.accordion__content-block {
    display: block;
}

.accordion__content p {
    margin-bottom: 10px;
}

.accordion__item--active .accordion__content {
    display: block;
}

.products {
    padding-bottom: 150px;

}

.products::before {}

.products__inner {
    display: flex;
    flex-wrap: wrap;
    /* justify-content: center; */
    gap: 20px;
    text-align: center;
    position: relative;
}

.products__inner::before {
    font-weight: 400;
    font-size: 32px;
    color: #000;
    font-family: "Playfair Display", sans-serif;
    position: absolute;
    content: "WHAT ELSE?";
    width: 96px;
    height: 86px;
    top: 0;
    left: -203px;
}

.products__title {}

.products-items img {
    margin-bottom: 20px;
}

.products-item__desc {
    text-transform: uppercase;
    font-weight: 700;
    font-size: 14px;
    color: rgba(0, 0, 0, 0.5);
    margin-bottom: 20px;
    line-height: 1.21;
}

.products-item__title {
    font-weight: 700;
    font-size: 14px;
    color: #000;
    margin-bottom: 10px;
    line-height: 1.21;

}

.products-item__text {
    font-weight: 400;
    font-size: 14px;
    color: #000;
    margin-bottom: 10px;
    line-height: 1.21;
}

.products-item__price {
    font-family: "Playfair Display", sans-serif;
    font-weight: 400;
    font-size: 32px;
    color: #000;
    line-height: 1.34;
}

.video {
    margin-bottom: 150px;
}

.video__inner {
    position: relative;
    max-width: 997px;
    min-height: 600px;
}

.video__box {

    margin-left: auto;
    max-width: 997px;
    min-height: 600px;
    background-image: url('../images/video-bg.jpg');
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
}

.video__btn {}

.popup-overlay {
    /* position: fixed; */
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    /* background: rgba(0, 0, 0, 0.7); */
    display: none;
    justify-content: center;
    align-items: center;
}

.footer {
    padding: 66px 0px 102px 0;
    background-color: #C4A9CD;
    color: #000;
}

.footer__inner {
    display: flex;
    justify-content: space-between;
    gap: 70px;
    padding-right: 105px;
}

.logo {}

.footer__logo {
    /* margin-right: 13px; */
}

.footer__contents {
    width: 387px;
}

.footer__contents__text {
    font-weight: 700;
    font-size: 14px;
    position: relative;
    text-transform: uppercase;
    line-height: 1.21;

}

/* .footer__contents__text:first-child::after {
    position: absolute;
    content: "";
    background-image: url('../images/icons/footer_arrow.svg');
    width: 51px;
    height: 16px;
    top: 40px;
    right: 0;
} */

.footer__list {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.footer__list li a {
    line-height: 1.21;
}

.footer__list__bottom {
    margin-bottom: 70px;
}

.footer__social {

    display: flex;
    flex-direction: column;
    gap: 17px;
    justify-content: flex-end;

}

.footer__items {
    padding-right: 105px;
    padding-left: 193px;
    margin-top: 70px;
    display: flex;
    justify-content: space-between;
    gap: 20px;
}

.footer__input {
    padding: 20px 10px 10px;
    width: 100%;
    border: none;

    background-color: transparent;

}

.footer__img {
    width: 337px;
    height: 390px;
}

.footer__form {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 70px;
    border-bottom: 1px solid #000;
}

input::placeholder {
    font-family: "Inter", sans-serif;
    font-weight: 400;
    font-size: 12px;
    color: rgba(0, 0, 0, 0.4);
}

@media(max-width: 1640px) {
    .products__inner {
        justify-content: center;
    }
}

@media(max-width: 1250px) {
    .about__inner {
        gap: 100px;
    }
    .products__inner {
        justify-content: center;
    }
    .products__inner::before {
        display: none;
    }
}

@media(max-width: 1110px) {
    .midle-slide__arrow {
        padding: 15px;
        justify-content: flex-end;
        margin-top: -50px;
    }
    .midle-slide__btn {
        padding: 10px;
        text-align: center;
    }
    .midle-slide {
        padding-bottom: 50px;
    }
    .accordion {
        padding-top: 0;
    }
    .footer__list__bottom {
        margin-bottom: 40px;
    }
    .footer__inner {
        padding-right: 50px;
    }
    .footer__items {
        padding-left: 50px;
        padding-right: 30px;
    }
}



@media(max-width: 992px) {
    .header__title {
        display: none;
    }
    .accordion__item {
        padding-left: 30px;
    }
    .accordion__trigger--text {
        margin-right: 50px;
        padding-left: 15px;
    }
    .accordion__inner {
        padding-left: 100px;
    }
    .menu {
        margin-left: 0;
        margin-right: 0;
    }
    .footer__img {
        width: 200px;
        height: 250px;
    }
    .video__inner {
        min-height: auto;
    }

}

@media(max-width: 840px) {
    .top {
        padding-top: 50px;
        padding-bottom: 0px;
        margin-bottom: 50px;
    }

    .top-slide__mini {
        display: none;
    }

    .top-slide__wooman {
        width: 300px;
        height: 500px;
    }

    .top-slide__inner {
        margin-top: 40px;
        min-height: 864px;
        flex-direction: column;
        gap: 30px;
    }

    .top-slide__btn {
        display: block;
        width: 300px;
        margin: 0 auto;
        text-align: center;
    }

    .top-slide__content {
        margin-top: 50px;
    }

    .top-slide__title {
        margin-bottom: 20px;
    }

    .about {
        padding-bottom: 50px;
    }

    .about__inner {
        gap: 100px;
    }

    .about__wrapper {
        padding-left: 30px;
    }
    .accordion {
        margin-bottom: 150px;
    }
    .products {
        padding-bottom: 50px;
    }
    .video {
        margin-bottom: 50px;
    }
    .footer__img {
        display: none;
    }

}

@media(max-width: 750px) {
    .about__inner {
        gap: 20px;
    }
    .accordion__inner {
        padding-left: 50px;
    }
    .accordion__trigger--title {
        font-size: 17px;
    }
    .footer__items {
        flex-wrap: wrap;
        justify-content: center;
    }
}

@media(max-width: 600px) {
    .accordion__inner {
        padding-left: 0px;
    }
    .accordion__item::before  {
        right: 30px;
    }
    .accordion__trigger--text {
        flex-basis: 450px;
    }
    .accordion__item {
        padding-right: 20px;
    }
    .video__box {
        max-width: 600px;
        min-height: 400px;
    }
    .footer__inner {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .footer__social {
        flex-direction: row;
    }
}

@media(max-width: 499px) {
    .midle-slide__arrow {
        margin-top: 20px;
        justify-content: center;
    }
    .accordion__item:last-child::after {
        left: 170px;
    }
    .accordion__trigger {
        padding-top: 0;
    }
    .accordion__trigger--title {
        rotate: -90deg;
        text-align: center;
        height: 100px;
    }
    .products-items img {
        width: 350px;
    }
    .video__box img {
        width: 50px;
        height: 50px;
    }
    .footer__contents {
        width: 90%;
    }
}


@media(max-width: 420px) {
    .header__inner {
        flex-wrap: wrap;
        align-items: center;
    }

    .logo,
    .user-nav {
        order: -1;
    }

    .menu {
        margin-top: 30px;
        text-align: right;
        width: 100%;
    }
    .video__box {
        max-width: 375px;
        min-height: 300px;
    }
    .footer__inner {
        padding-right: 0;
    }

}